<h3 class="mb-5">Results for "@ViewBag.Search"</h3>

@foreach (var profile in ViewBag.Profiles)
{
    <a asp-controller="Profiles" asp-action="Show" asp-route-id="@profile.UserId" style="text-decoration: none; color: inherit;">
        <div class="mb-3 d-flex flex-row align-items-center" style="background-color: lightgrey; border-radius: 15px;">
            @* TODO: Poate ar trebui stocata local imaginea de fallback *@
            <img
                src="@(string.IsNullOrEmpty(profile.ProfilePicture) ? "https://vos.line-scdn.net/lsp-image-jp/front/market_jp/pc/img-my-profile-default@2x.png" : profile.ProfilePicture)"
                alt="profile picture"
                @* # FRONTEND ENGINEER *@
                style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%; padding: 5px 5px 5px 5px;"/>
            <p class="ms-3 fs-4">@profile.FirstName @profile.LastName</p>
        </div>
    </a>
}