<div class="d-flex flex-column align-items-center gap-4 mt-5">
    <div class="d-flex flex-row gap-3">
        @* TODO: Poate ar trebui stocata local imaginea de fallback *@
        <img src="@(string.IsNullOrEmpty(ViewBag.Profile.ProfilePicture) ? "/assets/fallback_profile_picture.png" : ViewBag.Profile.ProfilePicture)"
             alt="profile picture"
             style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"/>
        <div class="d-flex flex-column ms-2">
            <h2>@ViewBag.Profile.FirstName @ViewBag.Profile.LastName</h2>
            <p>@ViewBag.Profile.Description</p>
            <div class="d-flex flex-row gap-4">
                <p class="fw-bold">@ViewBag.Profile.User.Followers.Count followers</p>
                <p class="fw-bold">@ViewBag.Profile.User.Following.Count following</p>
            </div>
        </div>
        @if (ViewBag.CanEdit)
        {
            <a class="btn btn-sm btn-secondary align-self-start d-flex justify-content-center align-items-center mt-2"
               asp-controller="Profiles" asp-action="Edit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16" style="display: block; margin: auto;">
                    <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0zM9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291a1.873 1.873 0 0 0-1.116-2.693l-.318-.094c-.835-.246-.835-1.428 0-1.674l.319-.094a1.873 1.873 0 0 0 1.115-2.692l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.291.159a1.873 1.873 0 0 0 2.693-1.116l.094-.318z"/>
                </svg>
            </a>
        }
        else
        {
            if (ViewBag.Followed)
            {
                <form asp-controller="Followers" asp-action="Delete" method="post">
                    <input type="hidden" name="sender" value="@ViewBag.UserId"/>
                    <input type="hidden" name="receiver" value="@ViewBag.Profile.UserId"/>
                    <button type="submit" class="btn btn-sm btn-secondary h-25 mt-1">
                        Unfollow
                    </button>
                    @Html.AntiForgeryToken()
                </form>
            }
            else
            {
                @if (!ViewBag.FollowRequest)
                {
                    <form asp-controller="Followers" asp-action="New" method="post">
                        <input type="hidden" name="sender" value="@ViewBag.UserId"/>
                        <input type="hidden" name="receiver" value="@ViewBag.Profile.UserId"/>
                            <button type="submit" class="btn btn-sm btn-secondary h-25 mt-1">Follow</button>
                        @Html.AntiForgeryToken()
                    </form>
                }
                else
                {
                    <form asp-controller="Followers" asp-action="DeleteFollowRequest" method="post">
                        <input type="hidden" name="sender" value="@ViewBag.UserId"/>
                        <input type="hidden" name="receiver" value="@ViewBag.Profile.UserId"/>
                        <button type="submit" class="btn btn-sm btn-secondary h-25 mt-1">Cancel follow request</button>
                        @Html.AntiForgeryToken()
                    </form>
                }
            }
        }
    </div>
    @if (!ViewBag.CanEdit && ViewBag.Profile.Visibility == Profile.VisibilityType.Private)
    {
        <h5>This is a private profile. Follow the user to be able to see their profile.</h5>
    }
</div>