@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model ProiectDAW_V2.Models.Post

<div class="container mt-5 d-flex justify-content-center">
    <div class="card" style="width: 60%; border-radius: 10px; overflow: hidden;">
        <div class="card-header bg-white d-flex align-items-center">
            <img src="@(string.IsNullOrEmpty(ViewBag.Profile.ProfilePicture) ? "/assets/fallback_profile_picture.png" : ViewBag.Profile.ProfilePicture)" alt="User Avatar" class="rounded-circle me-3" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
            <div>
                <h6 class="mb-0">
                    <a asp-controller="Profiles" asp-action="Show" asp-route-id="@Model.User?.Id" style="text-decoration: none; color: inherit;">
                        @ViewBag.Profile.FirstName @ViewBag.Profile.LastName
                    </a>
                    @if (Model.Group != null)
                    {
                        <a asp-controller="Groups" asp-action="Show" asp-route-id="@Model.GroupId" style="text-decoration: none; color: inherit;">
                            @@ @Model.Group.Name
                        </a>
                    }
                </h6>
                <small class="text-muted">@Model.Date.ToString("MMMM dd, yyyy @ HH:mm")</small>
            </div>
            @if (ViewBag.IsLoggedIn && (ViewBag.LoggedInUserId == @Model.User?.Id
                                        || ViewBag.IsAdmin
                                        || (@Model.GroupId != null && ViewBag.IsModerator)))
            {
                <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id"
                      class="ms-auto">
                    <button class="btn btn-sm btn-danger">Delete</button>
                </form>
            }
        </div>

        <div class="card-body p-0">
            @if (Model.Type == Post.PostType.Text)
            {
                <div class="p-3">
                    <p class="mb-0" style="font-size: 16px;">@Model.Content</p>
                </div>
            }
            else if (Model.Type == Post.PostType.Image)
            {
                <img src="@Model.Content" alt="Post Image" class="img-fluid" style="max-width: 100%; max-height: 600px; object-fit: cover; display: block; margin-left: auto; margin-right: auto;">
            }
            else if (Model.Type == Post.PostType.Video)
            {
                <div class="ratio ratio-16x9">
                    <video src="@Url.Content(Model.Content)" controls=true style="max-height: 600px; object-fit: cover; width: 100%;"></video>
                </div>
            }
        </div>

        <div class="card-footer bg-white">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <button class="btn btn-light">
                        <a href="@Url.Action("New", "Comments", new { postId = Model.Id })"
                           class="text-decoration-none btn btn-secondary">
                            Comment
                        </a>
                    </button>
                    <button class="btn btn-secondary">
                        Share
                    </button>
                </div>
            </div>
            <br/>


            <h5>Comments:</h5>
            <hr/>
            @if (ViewBag.Comments != null && ((ICollection<Comment>)ViewBag.Comments).Any())
            {
                @foreach (var comment in (ICollection<Comment>)ViewBag.Comments)
                {
                    <p style="margin-bottom: 5px;">
                        <a asp-controller="Profiles" asp-action="Show"
                           asp-route-id="@comment.Author?.Id"
                           style="font-weight: bold; text-decoration: none; color: inherit;">
                            @comment.Author?.Profile?.FirstName @comment.Author?.Profile?.LastName
                        </a>
                        <span style="float: right;">@comment.Date</span>
                    </p>
                    <p style="margin-top: 5px;">@comment.Content</p>

                    @if (ViewBag.IsLoggedIn)
                    {
                        <div class="d-flex">
                            @if (ViewBag.LoggedInUserId == @comment.AuthorId)
                            {
                                <a class="btn btn-sm btn-secondary me-2" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id">
                                    Edit
                                </a>
                            }
                            @if (ViewBag.IsAdmin || ViewBag.LoggedInUserId == @comment.AuthorId
                        || (Model.GroupId != null && ViewBag.IsModerator))
                            {
                                <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id">
                                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                            }
                        </div>
                    }

                    <hr/>
                }
            }
            else
            {
                <p>There are no comments for this post</p>
            }
        </div>
    </div>
</div>